<template>
  <div class="row background">
    <div class="col-6 my-2">
      <p>Background</p>
      <div class="bg-upload"></div>
    </div>
    <div class="col-6 my-2">
      <p>Color</p>
      <div class="color">
       <ColorPicker
          @onColorChange="handleColorChange"
       />
      </div>
    </div>
  </div>
</template>
<script>
import ColorPicker from './ColorPicker.vue';
export default {
  components: {
    ColorPicker
  },
  
  methods: {
    handleColorChange (event) {
      this.$store.dispatch("updateBgColorEditor", event);
    }
  },
  
};
</script>
<style>
.background {
    margin-bottom: 15px;
}
</style>


