<template>
  <div class="row preview pt-3">
    <div class="col-6">
          <p><b>Type of Instagram Post</b></p>
          <ul class="typeofpost">
              <li><a>Wide</a></li>
              <li class="active"><a>Square</a></li>
              <li><a>Square</a></li>
          </ul>
      </div>
      <div class="col-6">
          <p><b>Instagram Account Linked:</b></p>
          <button v-if="instagramData && instagramData.user" class="btn btn-ig-add btn-ig-add-success">{{ instagramData.user.username }}</button>
    </div>
    <div class="col-12">
      <p>
        <b>Preview</b>
      </p>
      <p>Drag & Drop to change the layout or change items</p>
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label>Template</label>
            <input class="form-control text-template" type="text">
          </div>
        </div>
        <div class="col-3 snap">
          <div class="form-group">
            <label>snap</label>
            <label>
              <input type="checkbox" class="check-custom toggle-switch">
              <span class="check-toggle"></span>
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="background-editor" v-bind:style="{ backgroundColor: bgColorEditor.color }">
            <div class="editor-area-wrap">
              <vue-draggable-resizable
                v-if="instagramData && instagramData.images"
                @resizestop="onResizstop"
                @dragstop="onDragstop"
                @activated="onActivated('photo')"
                :parent="true"
                :grid="[10,10]"
                :x="photo.x"
                :y="photo.y"
                :w="photo.w"
                :h="photo.h"
              >
                <img :src="instagramData.images.standard_resolution.url" class="photo">
              </vue-draggable-resizable>

              <vue-draggable-resizable
                v-if="instagramData && instagramData.user"
                @activated="onActivated('profilePic')"
                @resizestop="onResizstop"
                @dragstop="onDragstop"
                :parent="true"
                :grid="[10,10]"
                :x="profilePic.x"
                :y="profilePic.y"
                :w="profilePic.w"
                :h="profilePic.h"
              >
                <img :src="instagramData.user.profile_picture" class="profile-picture">
              </vue-draggable-resizable>

              <vue-draggable-resizable
                @activated="onActivated('titleIg')"
                @resizestop="onResizstop"
                @dragstop="onDragstop"
                :parent="true"
                :grid="[10,10]"
                :x="titleIg.x"
                :y="titleIg.y"
                :w="titleIg.w"
                :h="titleIg.h"
              >
                <div class="text-attr-area"
                  v-bind:style="{ 
                    backgroundColor: titleIg.textAttr.backgroundColor,
                    textAlign: titleIg.textAttr.textAlign,
                    fontFamily: titleIg.textAttr.fontFamily,
                    fontWeight: titleIg.textAttr.fontWeight,
                    color: titleIg.textAttr.textColor,
                    
                  }">
                  <p v-if=" instagramData && instagramData.user">
                    {{ instagramData.user.username }}
                  </p>
                </div>
              </vue-draggable-resizable>

              <vue-draggable-resizable
                v-if=" instagramData && instagramData.caption"
                @activated="onActivated('textIg')"
                @resizestop="onResizstop"
                @dragstop="onDragstop"
                :parent="true"
                :grid="[10,10]"
                :x="textIg.x"
                :y="textIg.y"
                :w="textIg.w"
                :h="textIg.h"
              >
                <div class="text-attr-area"
                  v-bind:style="{
                  backgroundColor: textIg.textAttr.backgroundColor,
                  textAlign: textIg.textAttr.textAlign,
                  fontFamily: textIg.textAttr.fontFamily,
                  fontWeight: textIg.textAttr.fontWeight,
                  color: textIg.textAttr.textColor,
                  }">
                  <p>
                    {{ instagramData.caption.text }}
                  </p>
                </div>
              </vue-draggable-resizable>

              <vue-draggable-resizable
                v-if=" instagramData.tags && instagramData.tags.length"
                @activated="onActivated('tagsIg')"
                @resizestop="onResizstop"
                @dragstop="onDragstop"
                :parent="true"
                :grid="[10,10]"
                :x="tagsIg.x"
                :y="tagsIg.y"
                :w="tagsIg.w"
                :h="tagsIg.h"
              >
                <div class="text-attr-area"
                  v-bind:style="{
                  backgroundColor: tagsIg.textAttr.backgroundColor,
                  textAlign: tagsIg.textAttr.textAlign,
                  fontFamily: tagsIg.textAttr.fontFamily,
                  fontWeight: tagsIg.textAttr.fontWeight,
                  color: textIg.tagsIg.textColor,
                  }">
                  <p><span v-for="item in instagramData.tags" v-bind:key="item.id">
                    {{ '#'+item }}
                  </span></p>
                </div>
              </vue-draggable-resizable>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="float-right template-action">
            <a class="save-template">save template</a>
            <a class="reset">reset all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueDraggableResizable from "vue-draggable-resizable";
export default {
  data() {
    return {
      activeOriginX: true,
    };
  },
  created () {
  },
  computed: {
      instagramData() {
        return this.$store.getters.getInstagramData;
      }
  },
  methods: {
    onDragstop(left, top) {
      this.$store.dispatch("setOriginY", Number(top));
      this.$store.dispatch("setOriginX", Number(left));
    },
    onResizstop(left, top, width, height) {
      let payload = {
        x: Number(left),
        y: Number(top),
        w: Number(width),
        h: Number(height)
      };
      this.$store.dispatch("updateAttrEl", payload);
    },
    onActivated(El) {
      this.$store.dispatch("setActiveEl", El);
    }
  },
  props: {
    instagramUser: Object,
    instagramImage: String,
    haddle: String,
    photo: Object,
    profilePic: Object,
    titleIg: Object,
    textIg: Object,
    tagsIg: Object,
    bgColorEditor: Object,
  }
};
</script>
<style scoped>
.background-editor {
    width: 640px;
    height: 360px;
}
.editor-area-wrap {
  position: relative;
  width: 640px;
  height: 360px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px)
      0% 0% / 10px 10px,
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px) 0% 0% / 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
}
.photo {
  width: 100%;
  height: 100%;
}
.profile-picture {
  width: 100%;
  height: 100%;
}
.text-attr-area {
  width: 100%;
  height: 100%;
}
p {
    margin-bottom: 0.5rem;
}
</style>