<template>
  <div class="row elements">
    <div class="col-12">
      <p>
        <b>Element</b>
      </p>
    </div>
    <div class="col-7 element-left">
      <p>Photo</p>
      <div class="photo">
        <div class="draggable" id="igPhotoDrag">
          <img :src="instagramImage">
        </div>
      </div>
    </div>
    <div class="col-5 element-right">
      <div class="row">
        <div class="col-12 my-2">
          <p>Logo</p>
          <div class="logo">
            <div class="draggable" id="igLogoDrag">
              <img :src="instagramUser.profile_picture">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-2">
          <p>Handle</p>
          <div class="handle">
            <div class="draggable" id="igHandleDrag">
              <p>ICECREAMFAVOR_SWEETY</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-2">
          <p>Text</p>
          <div class="text">
            <div class="draggable" id="igTextDrag">
              <p>
                Would you like an ice cream for your stunning morning?
                <span>#morningvibe</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-2">
          <p>First Self Commen</p>
          <div class="first-self-commnet">
            <div class="draggable" id="igCommentDrag">
              <p>
                <span>icecream icecream</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  props: {
    instagramUser: Object,
    instagramImage: String
  },
  mounted: function(){

  }
 
}
</script>