<template>
  <div class="container">
      <div class="row header">
          <div class="col-12 header-content">
              <img id="settingIcon" />
              <h4>{{ headerTitle }}</h4>
          </div>
      </div>
  </div>
</template>
<script>
export default {
    data: function () {
        return {
            headerTitle: 'Media Settings > Instagram',
        }
    }
  }
</script>
