<template>
  <div class="instagram-editor" id="instagramEditor">
    <template>
      <Header/>
    </template>
    <div v-if="isAuthentication" class="container pt-5">
      <div class="row">
        <div class="col-7 left-block">
          {{ env }}
          <EditArea
            v-if="photo && profilePic"
            :photo="photo"
            :profilePic="profilePic"
            :titleIg="titleIg"
            :textIg="textIg"
            :tagsIg="tagsIg"
            :bgColorEditor="bgColorEditor"
          />
          <Origin :active="elementActive.photo" :attributeEl="photo"/>
          <Origin :active="elementActive.profilePic" :attributeEl="profilePic"/>

          <Origin :active="elementActive.titleIg" :attributeEl="titleIg"/>
          <Origin :active="elementActive.textIg" :attributeEl="textIg"/>
          <Origin :active="elementActive.tagsIg" :attributeEl="tagsIg"/>
        </div>
        <div class="col-5 right-block">
          <TemplateIg/>
          <NumberSlide/>
          <BackgroundIg/>
          <TextAttribute :active="elementActive.titleIg"/>
          <TextAttribute :active="elementActive.textIg"/>
          <TextAttribute :active="elementActive.tagsIg"/>
        </div>
      </div>
    </div>
    <div v-else class="container pt-5">
      <div class="row">
        <div class="col-7 left-block">
          <div class="row">
            <div class="col-6">
              <p>
                <b>Type of Instagram Post</b>
              </p>
              <ul class="typeofpost">
                <li>
                  <a>Wide</a>
                </li>
                <li class="active">
                  <a>Square</a>
                </li>
                <li>
                  <a>Square</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <p>
                <b>Instagram Account Linked:</b>
              </p>
              <button class="btn btn-ig-add" @click='handleAuthenticationIG'>Click to Link Instagram Account</button>
            </div>
          </div>
        </div>
        <div class="col-5 right-block">
          <TemplateIg/>
          <NumberSlide/>
          <BackgroundIg/>
          <TextAttribute :active="elementActive.titleIg"/>
          <TextAttribute :active="elementActive.textIg"/>
          <TextAttribute :active="elementActive.tagsIg"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "./Header.vue";
import EditArea from "./EditArea.vue";
import Origin from "./Origin.vue";
import TemplateIg from "./TemplateIg.vue";
import NumberSlide from "./NumberSlide.vue";
import BackgroundIg from "./BackgroundIg.vue";
import TextAttribute from "./TextAttribute.vue";
export default {
  name: "instagram-editor",
  components: {
    Header,
    EditArea,
    Origin,
    TemplateIg,
    NumberSlide,
    BackgroundIg,
    TextAttribute
  },
  data: function() {
    return {
      photo: this.$store.getters.getPhoto,
      profilePic: this.$store.getters.getProfilePic,
      titleIg: this.$store.getters.getTitleIg,
      textIg: this.$store.getters.getTextIg,
      tagsIg: this.$store.getters.getTagsIg,
      active: true,
      bgColorEditor: this.$store.getters.getBgColorEditor,
      authenButton: false,
      popup: '',
      env: process.env.baseUrl,
    };
  },
  created() {
  },
  mounted() {
  },
  methods: {
   handleAuthenticationIG() {
     var instagramRedirectUri = 'http://localhost:8080/';
      var popupWidth = 700,
      popupHeight = 500,
      popupLeft = (window.screen.width - popupWidth) / 2,
      popupTop = (window.screen.height - popupHeight) / 2;
      this.popup = window.open('https://api.instagram.com/oauth/authorize/?client_id=da72f68bea1140499b615b1eb683ad6e&response_type=code&scope=public_content'+'&redirect_uri='+instagramRedirectUri, '_blank', 'width='+popupWidth+',height='+popupHeight+',left='+popupLeft+',top='+popupTop+'');
      var interval = setInterval(() => {
        try {
          if(this.popup.location.search) {
            clearInterval(interval);
            let search = this.popup.location.search;
            let arraySearch = search.split("=");
            if (arraySearch && arraySearch.length > 1) {
              let code = arraySearch[1];
              this.$store.dispatch("getInstagramToken", code);
            }
            this.popup.close();
          }
        }
        catch(evt) {

        }
      }, 1000);
    },
   save(){

   }
  },
  computed: {
    elementActive() {
      return this.$store.getters.getElementActive;
    },
    isAuthentication() {
      return this.$store.getters.getAuthentication;
    }
  }
};
</script>