<template>
  <div class="row numberslide">
    <div class="col-6 number-of-slides">
      <p>Number of Slides</p>
      <div class="number-input">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
        <input class="quantity" min="0" name="quantity" value="1" type="number">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
      </div>
    </div>
    <div class="col-6">
      <p>Duration per Slide</p>
      <div class="form-group">
        <input type="number" class="form-control">
      </div>
    </div>
  </div>
</template>
