<template>
  <div class="attr">
    <div v-if="active" class="hidden">
      <div class="row origin">
        <div class="col-4">
          <p>Origin</p>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>X:</label>
            <input
              name="originX"
              v-model="attributeEl.x"
              @input="setOriginX(attributeEl.x)"
              @change="setOriginX(attributeEl.x)"
              class="form-control"
              type="number"
            >
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Y:</label>
            <input
              name="originY"
              v-model="attributeEl.y"
              @input="setOriginY(attributeEl.y)"
              @change="setOriginY(attributeEl.y)"
              class="form-control"
              type="number"
            >
          </div>
        </div>
      </div>

      <div class="row dimensions">
        <div class="col-4">
          <p>Dimensions</p>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Width:</label>
            <input
              v-model="attributeEl.w"
              @input="setDimensionsWidth(attributeEl.w)"
              @change="setDimensionsWidth(attributeEl.w)"
              class="form-control"
              type="number"
            >
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Height:</label>
            <input
              v-model="attributeEl.h"
              @input="setDimensionsHeight(attributeEl.h)"
              @change="setDimensionsHeight(attributeEl.h)"
              class="form-control"
              type="number"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "origin",
  props: {
    active: Boolean,
    attributeEl: Object
  },
  methods: {
    setOriginX(originX) {
      this.$store.dispatch("setOriginX", Number(originX));
    },
    setOriginY(originY) {
      this.$store.dispatch("setOriginY", Number(originY));
    },
    setDimensionsWidth(width) {
      this.$store.dispatch("setDimensionsWidth", Number(width));
    },
    setDimensionsHeight(height) {
      this.$store.dispatch("setDimensionsHeight", Number(height));
    }

  }
};
</script>
<style>

</style>
