<template>
  <div class="row templateIg">
    <div class="col-6">
      <p>Template</p>
      <div class="form-group">
        <select class="custom-select form-control" id="template">
          <option>Template 1</option>
          <option>Template 2</option>
          <option>Template 3</option>
          <option>Template 4</option>
          <option>Template 5</option>
        </select>
      </div>
    </div>
  </div>
</template>
