<template>
  <div class="attr">
    <div v-if="active" class="hidden">
      <div class="row">
        <div class="col-6">
          <p>Attributes</p>
        </div>
        <div class="col-6">
          <p class="float-right reset">Reset</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>Align</p>
          <ul class="align-text">
            <li :class="this.activeMenu.left ? 'active' : 'unactive'">
              <a 
                class="align-left"
                @click="setTextAlign('left')">
                <img class="align-icon" :src="alignIcon.left">
              </a>
            </li>
            <li :class="this.activeMenu.right ? 'active' : 'unactive'">
              <a 
                class="align-right"
                @click="setTextAlign('right')"
                >
                <img class="align-icon" :src="alignIcon.right">
              </a>
            </li>

            <li :class="this.activeMenu.center ? 'active' : 'unactive'">
              <a 
                class="align-center"
                @click="setTextAlign('center')"
                >
                <img class="align-icon" :src="alignIcon.center">
              </a>
            </li>
            <li :class="this.activeMenu.justify ? 'active' : 'unactive'">
              <a 
                class="align-Justify"
                @click="setTextAlign('justify')"
                >
                <img class="align-icon" :src="alignIcon.justify">
              </a>
            </li>

          </ul>
        </div>
        <div class="col-4">
          <p>Font</p>
          <div class="form-group">
            <select
              v-model="fontSelected"
              v-on:change="changeFontFamily($event)"
              class="custom-select form-control"
              id="font">
              <option value="Roboto">Roboto</option>
              <option value="Lato">Lato</option>
              <option value="Open Sans">Open Sans</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <p>Font style</p>
          <div class="form-group">
            <select
              v-model="fontStyleSelected"
              v-on:change="changeFontStyle($event)"
              class="custom-select form-control"
              id="fontStyle">
              <option value="100">thin</option>
              <option value="300">light</option>
              <option value="400">regular</option>
              <option value="500">medium</option>
              <option value="700">bold</option>
            </select>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-6">
        <p>Background color</p>
        <div class="color">
       <ColorPicker
          :color = "getBgTextColor"
          @onColorChange="changeBgColor"
       />
      </div>
      </div>
      <div class="col-6">
        <p>Font color</p>
        <ColorPicker
          :color = "getTextColor"
          @onColorChange="changeTextColor"
       />
      </div>
    </div>

    </div>
  </div>
</template>
<script>
import ColorPicker from './ColorPicker.vue';
import alignLeftIcon from '../assets/align-left.svg';
import alignRightIcon from '../assets/align-right.svg';
import alignJustifyIcon from '../assets/align-justify.svg';
import alignCenterIcon from '../assets/align-center.svg';

export default {
  name: "textattribute",
  components: {
    ColorPicker
  },
  props: {
    active: Boolean,
    textAttributeEl: Object
  },
  data() {
    return {
      activeMenu: {
        left: true,
        right: false,
        center: false,
        justify: false
      },
      fontSelected: 'Roboto',
      fontStyleSelected: 400,
      alignIcon: {
        left: alignLeftIcon,
        right: alignRightIcon,
        center: alignCenterIcon,
        justify: alignJustifyIcon,
        
      }
    }
  },
  computed: {
    getBgTextColor() {
      return this.$store.getters.getBgTextColor;
    },
    getTextColor() {
      return this.$store.getters.getTextColor;
    }
  },
  methods: {
    setOriginY(originY) {
      this.$store.dispatch("setOriginY", Number(originY));
    },
    setTextAlign(align){
      this.$store.dispatch("setTextAlign", align);
      for(var item in this.activeMenu){
        if(item == align){
          this.activeMenu[item] = true;
        }
        else {
          this.activeMenu[item] = false;
        }
      }
    },
    changeFontFamily(e){
      let value = e.target.value;
      this.fontSelected = value;
      this.$store.dispatch("setFontFamily", value);
    },
    changeFontStyle(e){
      let value = e.target.value;
      this.fontStyleSelected = value;
      this.$store.dispatch("setFontStyle", Number(value));
    },
    changeBgColor(event){
      this.$store.dispatch("setTextBgColor", event);
    },
    changeTextColor(event){
      this.$store.dispatch("setTextColor", event);
    }

  }
};
</script>
<style>
  .align-text li a {
    cursor: pointer;
  }
  .align-icon{
    width: 24px;
  }
</style>
