<template>
    <InstagramEditor />
</template>
<script>
  import InstagramEditor from './components/InstagramEditor.vue'
  export default { name: 'app',components: {
      InstagramEditor
    }
  }
</script>
<style lang="scss">
  @import "./scss/style";
</style>
