@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
$border-color: #e6e8ed;
$color-green : #76c322;
$link-color : #3190d0;

// global styles
html,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #111;
  background-color: #fff;
  width: 100%;
  
}
p {
  margin-bottom: 5px;
}
.pt-5 {
  padding-top: 3rem;
}
.noselect {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pt-3 {
  padding-top: 1rem;
}

#instagramEditor {
  position: relative;
  .container{
    .reset {
      color: $link-color;
      text-decoration: underline;
      cursor: pointer;
    }
    max-width: 100%;
    .header {
      height: 60px;
      background: blue;
      background-image: linear-gradient(93deg, #236cc3, #2a7bda 50%, #5da0f0);
      color: #fff;
      .header-content {
        display: flex;
        align-items: center;
        height: 60px;
        img {
          margin-right: 2rem;
        }
      }
    }
    .left-block {
      .preview {
        label {
          display: inline-block;
          min-width: 3rem;
          text-align: right;
        }
        input {
          display: inline-block;
          &.text-template {
           width: 50%;
           border: none;
           border-bottom: 1px solid $border-color;
           box-shadow: none;
           border-radius: 0;
           &:focus {
             box-shadow: none;
           }
          }
        }
        .template-action{
          margin: 15px 80px 15px 0;
          a{
            margin: 0 15px;
          }
        }
        
      }
      .origin, .dimensions {
        label {
          display: inline-block;
          min-width: 3rem;
          text-align: right;
        }
        input {
          display: inline-block;
          width: 60%;
        }
      }
      .elements {
        .draggable {
          position: absolute;
        }
        
        .element-left {
          #igPhotoDrag {
            
          }
        }
        .element-right {
          .logo {
            position: relative;
            width: 58px;
            height: 58px;
            border: 1px dotted #ccc;
            border-radius: 50%;
          }
          .handle{
            position: relative;
            min-height: 30px;
          }
          .text{
            position: relative;
            min-height: 50px;
          }
          .first-self-commnet {
            position: relative;
            min-height: 50px;
          }
        }
      }
      .typeofpost {
        padding: 0;
        margin: 0;
        display: inline-block;
        overflow: hidden;
        height: 28px;
        margin-top: 5px;
        li {
          float: left;
          list-style: none;
          text-align: center;
          height: 28px;
          line-height: 28px;
          border: 1px solid $border-color;
          &.active {
            border: 1px solid #359be0;
            a {
              background-color: #359be0;
              color: #fff;
            }
          }
          a {
            padding: 8px 15px;
          }
        }
      }
      .btn-ig-add {
        height: 40px;
        border-radius: 8px;
        background-color: #f85359;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        &.btn-ig-add-success {
          background-color: $color-green;
        }
      }
    }
    // end left block
    .right-block {
      .align-text {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            float: left;
            margin: 0 5px;
            &.active{
              a {
                color: $link-color
              }
            }
          }
      }
    }


  }
}



// plugin level css
.users-list{
  width: 400px;
  min-height: 200px;
  border-radius: 3px;
  background-color: #fff;
  padding: 15px 30px;
  list-style-type: none;

  >li{
      line-height: 30px;
  }
}

.number-of-slides {
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 1px solid $border-color;
    display: inline-flex;
    border-radius: 0.25rem 
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 33px;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 11rem;
    padding: .5rem;
    border: solid $border-color;
    border-width: 0 1px;
    height: 33px;
    text-align: center;
  }
}


/* Styles for hiding the native checkbox */
input[type='checkbox'].check-custom {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Styles for the basic appearance of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle {
  width: 30px;
  height: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* Common styles for the ::before and ::after pseudo-elements of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before,
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
}

/* Styles for the ::before pseudo-element (the outer frame) of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: #dbdbdb;
}

/* Styles for the ::after pseudo-element (the inner slider) of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after {
  width: 15px;
  height: 15px;
  margin: 0 1px;
  border-radius: 50%;
  background: #ffffff;
}

/* Styles for the ::before pseudo-element of the toggle switch in hover state */
input[type='checkbox'].check-custom.toggle-switch:hover ~ .check-toggle::before {
  background: #c4c4c4;
}

/* Styles for the ::before pseudo-element of the toggle switch in focus state */
input[type='checkbox'].check-custom.toggle-switch:focus ~ .check-toggle::before {
  box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.5);
}

/* Styles for the ::before pseudo-element of the toggle switch in both focus and checked or enabled state */
input[type='checkbox'].check-custom.toggle-switch:focus:checked ~ .check-toggle::before {
  box-shadow: 0 0 0 2px rgba(97, 191, 158, 0.5);
}

/* Styles for the ::before pseudo-element of the toggle switch in checked or enabled state */
input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::before {
  background: $color-green;
}

/* Styles for the ::after pseudo-element of the toggle switch in checked or enabled state */
input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::after {
  left: auto;
  right: 0;
}